<!DOCTYPE html>
<html>
<head>
	<title>Byte 3</title>

	<!-- Semantic Framework -->
	<link rel="stylesheet" rel="text/styleshet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css">
</head>
<body>
	<div class="ui menu inverted">
		<div class="ui container">
			<h4 class="header item"><a href="/">Home</a></h4>
			<h4 class="header item"><a href="about">About</a></h4>
			<h4 class="header item"><a href="#">Quality</a></h4>	
		</div>
	</div>
	<div class="ui container">
		<h2>Data Quality</h2><br/>
		<h3>Completeness</h3>
		<p>As seen in List No. 4 of my data, location tracking for my data happened only from one co-rdinate bin (My Apartment). Seems like location was not tracked while I was outside. So I could not map out activities with location for my data</p>
		<h3>Correctness</h3>
		<p>I find activities such as 'in vehicle' at 4am in the morning. In the past month, I haven't caught a shuttle that late! :D. Seems to be incorrect data altogether</p>
		<h3>Coherence</h3>
		<p>I haven't checked for coherence a lot. But I'm assuming there could be coherence problems across the whole dataset. For example, it shows incorrect data for my sleep at 4am. The acivity says I'm on a vehicle. This incorrectness in the data could cause coherence problems across any anlysis I do.</p>
		<h3>Accountability</h3>
		<p>Any problems with the dataset was either my mistake (not turning on location). So I know the data is true to it's form because I collected it! :D</p>
	</div>
	<script type="text/javascript" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
</body>
</html>